<aside class="sidebar">
    <div class="sidebar__group" title="{{ .Group }}">
        <select name="group" id="group">
            {{ if eq .GroupId "" }}
            <option disabled selected>— Groups —</option>
            {{ else }}
            <option disabled>— Groups —</option>
            {{ end }}
            {{ range $value, $name := .Groups }}
                {{ if eq $value $.GroupId }}
            <option value="{{ $value }}" selected>{{ $name }}</option>
                {{ else }}
            <option value="{{ $value }}">{{ $name }}</option>
                {{end}}
            {{end}}
        </select>
    </div>
    <nav class="sidebar__nav">
        <ul>
            <li>
                <a href="/coocc" title="Co-occurrence Analysis">Co-occurrence Analysis</a>
                <ul>
                    <li><a href="/coocc/1" title="Частотный анализ пар">Частотный анализ пар</a></li>
                    <li><a href="/coocc/2" title="Меры ассоциации">Меры ассоциации</a></li>
                </ul>
            </li>
            <li>
                <span title="Network Analysis">Network Analysis</span>
                <ul>
                    <li><a href="/network/1" title="Построение графа">Построение графа</a></li>
                    <li><span title="Метрики центральности">Метрики центральности</span></li>
                    <li><a href="#" title="Кластеризация">Кластеризация</a></li>
                </ul>
            </li>
            <li>
                <a href="/temporal" title="Temporal Analysis">Temporal Analysis</a>
                <ul>
                    <li><a href="/temporal/1" title="Динамика популярности">Динамика популярности</a></li>
                    <li><a href="/temporal/2" title="Временные окна">Временные окна</a></li>
                </ul>
            </li>
            <li>
                <a href="/distribution" title="Анализ распределения и разнообразия тегов">Анализ распределения и разнообразия тегов</a>
                <ul>
                    <li><a href="/distribution/1" title="Энтропия тегов">Энтропия тегов</a></li>
                    <li><a href="/distribution/1" title="Длина «хвоста» распределения">Длина «хвоста» распределения</a></li>
                </ul>
            </li>
            <li>
                <a href="/scombs" title="Stable Combinations">Stable Combinations</a>
                <ul>
                    <li><a href="/scombs/1" title="Многоуровневые паттерны">Многоуровневые паттерны</a></li>
                    <li><a href="/scombs/2" title="Ассоциативные правила">Ассоциативные правила</a></li>
                </ul>
            </li>
            <li>
                <a href="/comparative" title="Comparative Analysis">Comparative Analysis</a>
                <ul>
                    <li><a href="/comparative/1" title="Кросс-анализ с другими метриками">Кросс-анализ с другими метриками</a></li>
                    <li><a href="/comparative/2" title="Сегментация">Сегментация</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <footer class="sidebar__footer">
        <div class="copyright"><a href="https://github.com/meesooqa">meesooqa</a></div>
    </footer>
</aside>