{{define "content"}}
<p>
    Yesterday, Robin Houston, a computer scientist and mathematician tweeted
    about the bizarre intersection of 4chan and mathematics, inadvertently
    setting off a wave of public interest in the story.
    Within hours of his tweet, his phone was vibrating constantly.
    "It started to go mad," he says. "My phone started going crazy."
    The 4chan part of this saga began on September 17th, 2011,
    when a poster posed a question: if you wanted to watch
    14 episodes of the anime The Melancholy of Haruhi Suzumiya
    in every possible order, what’s the shortest string of episodes
    you’d need to watch?
</p>
{{end}}